---
layout: default
title: Lattespirit
---

<!-- Posts -->
{% for post in paginator.posts limit: 20 %}
    <div class="md:flex w-72 x:w-84 sm:w-100 md:w-120 mx-auto mt-8 rounded-lg bg-gray-lighter opacity-85 overflow-hidden">
        {% if post.thumbnail %}
        <div class="flex-none h-40 md:w-36 md:h-auto bg-cover"
            style="background-image: url('{{ site.url }}/{{ post.thumbnail }}')"></div>
        {% endif %}
        <div class="w-full p-4 md:p-6">
            <div>
                <h1 class="font-bold text-xl">
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                </h1>
                <p class="mt-2 text-gray-darkest text-sm x:text-base md:text-sm">
                    {{ post.description }}
                </p>
            </div>
            <div class="flex justify-between items-center mt-6">
                <span class="text-gray-darkest text-sm">{{ post.date | date: "%Y-%m-%d" }}</span>
                <a href="{{ site.url }}{{ post.url }}"
                    class="inline-block bg-purple-light rounded text-gray-lighter text-xs x:text-sm px-2 py-1 text-center">Read
                    More</a>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Paginator -->
{% if paginator.total_pages > 1 %}
    <div class="flex justify-center w-72 x:w-84 sm:w-100 h-8 mt-12 mx-auto">
        <a class="inline-block flex justify-center items-center w-8 h-8 rounded-full bg-gray-lighter opacity-85" href="{{ previous }}">
            <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 1L1 5l4 4" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>

        <div class="flex justify-center items-center mx-4 px-4 rounded-full bg-gray-lighter opacity-85">
            {% for page in (1..paginator.total_pages) %}
                <!-- Caculate page url -->
                {% if page == 1 %}
                    {% assign page_url = "/" %}
                {% else %}
                    {% assign page_url = "/page" | append: page %}
                {% endif %}

                <!-- Caculate previous page url -->
                {% assign previous = "/" %}
                {% if paginator.previous_page %}
                    {% if paginator.page != 2 %}
                        {% assign previous = "/page" | append: paginator.previous_page %}
                    {% endif %}
                {% endif %}

                {% if page == paginator.page %}
                    <a href="{{ page_url }}" class="flex inline-block w-6 h-6 mr-2 text-sm x:text-base justify-center items-center bg-purple-light rounded-full text-white">{{ page }}</a>
                {% else %}
                    <a href="{{ page_url }}"
                        class="flex inline-block w-6 h-6 mr-2 text-sm x:text-base justify-center items-center">{{ page }}</a>
                {% endif %}
            {% endfor %}
        </div>

        {% if paginator.next_page %}
            <a class="inline-block flex justify-center items-center w-8 h-8 rounded-full bg-gray-lighter opacity-85">
                <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 9l4-4-4-4" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        {% else %}
            <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9l4-4-4-4" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        {% endif %}
    </div>
{% endif %}
