---
layout: default
title: Lattespirit
---
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      {% for post in paginator.posts limit: 20 %}
        <ul class="list-unstyled">
        {% capture y %}{{ post.date | date:"%Y" }}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
            <li><h4>{{ y }}</h4></li>
        {% endif %}
        <li>
          <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>&nbsp&nbsp
          <a href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
        </li>
      </ul>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
    <div class="col-md-6 col-md-offset-3">
      <center>
        <nav aria-label="Page navination">
          <ul class="pagination">
            {% if paginator.previous_page %}
                <li><a href="/page{{ paginator.previous_page }}">&laquo;</a></li>
            {% else %}
                <li><span class="disabled">&laquo;</span></li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
              {% if count == paginator.page %}
                <li><span class="active">{{ count }}</span></li>
              {% else %}
                <li><a href="/page{{ count }}">{{ count }}</a></li>
              {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
              <li><a href="/page{{ paginator.next_page }}">&raquo;</a></li>
            {% else %}
              <li><span class="disabled">&raquo;</span></li>
            {% endif %}
          </ul>
        </nav>
      </center>
    </div>
  {% endif %}
</div>