---
layout: typography
title: Colors
black-and-white:
  - name: White
    code: FFFFFF
    class: white
  - name: Black
    code: "000000"
    class: black
colorfuls:
  - colors:
    - name: Purple Dark
      code: 21067A
      class: purple-dark
    - name: Purple Light
      code: 21067A
      class: purple-light
    - name: Pink Dark
      code: 21067A
      class: pink-dark
    - name: Pink Light
      code: 21067A
      class: pink-light
  - colors:
    - name: Gray Lightest
      code: CBD5E0
      class: gray-lightest
    - name: Gray Lighter
      code: EDF2F7
      class: gray-lighter
    - name: 85 Opacity
      code: E2E8F0
      class: gray-lighter opacity-85
    - name: Gray Light
      code: E2E8F0
      class: gray-light
  - colors:
    - name: Gray
      code: CBD5E0
      class: gray
    - name: Gray Dark
      code: A0AEC0
      class: gray-dark
    - name: Gray Darker
      code: 718096
      class: gray-darker
    - name: Gray Darkest
      code: 4A5568
      class: gray-darkest
---

<div class="hidden md:block text-3xl font-bold">Colors</div>

<div class="flex justify-between flex-wrap w-64 mx-auto md:mx-0 mt-6">
    {% for color in page.black-and-white %}
        <div class="flex flex-col items-center mt-4">
            <div class="w-24 h-24 rounded-full bg-{{ color.class }} shadow-lg"></div>
            <span class="mt-3 mb-1 font-bold">#{{ color.code }}</span>
            <span>{{ color.name }}</span>
        </div>
    {% endfor %}
</div>

{% for colorful in page.colorfuls %}
    <div class="flex justify-between flex-wrap w-64 md:w-144 mx-auto md:mx-0 mt-6">
        {% for color in colorful.colors %}
            <div class="flex flex-col items-center mt-4">
                <div class="w-24 h-24 rounded-full bg-{{ color.class }} shadow-lg"></div>
                <span class="mt-3 mb-1 font-bold">#{{ color.code }}</span>
                <span>{{ color.name }}</span>
            </div>
        {% endfor %}
    </div>
{% endfor %}
