<header class="flex justify-between items-center w-72 py-6 x:w-84 sm:w-100 md:w-140 lg:w-180 mx-auto">
  <a class="text-white inline-block text-xl x:text-2xl font-extrabold" href="/">{{ site.name }}</a>

  <div class="flex justify-center items-center md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="text-white w-4 h-4 x:w-6 x:h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
  </div>

  <div class="hidden md:block self-end">
    <a class="text-white inline-block mr-6" href="/">Home</a>
    <a class="text-white inline-block mr-6" href="/archives">Archives</a>
    <a class="text-white inline-block mr-6" href="/testimonials">Testimonials</a>
    <a class="text-white inline-block mr-6" href="/about">About</a>
  </div>
</header>
