@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-lightest: #f7fafc;
  --color-gray-lighter: #edf2f7;
  --color-gray-light: #e2e8f0;
  --color-gray-default: #cbd5e0;
  --color-gray-dark: #a0aec0;
  --color-gray-darker: #718096;
  --color-gray-darkest: #4a5568;
  --color-purple-light: #4f239f;
  --color-purple-dark: #21067a;
  --color-pink-light: #ed6b99;
  --color-pink-dark: #f14b90;
  --color-orange-lighter: #fbae68;
  --color-orange-light: #e97848;
  --color-orange-dark: #ce522a;

  --breakpoint-x: 23.43rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;

  --animate-breath: breath 2s linear infinite alternate;

  @keyframes breath {
    0% {
      box-shadow: 0 0 5px var(--color-pink-dark);
    }

    100% {
      box-shadow:
        0 0 5px var(--color-pink-dark),
        0 0 25px var(--color-pink-dark),
        0 0 50px var(--color-pink-dark),
        0 0 200px var(--color-pink-dark);
    }
  }
}

@layer base {
  body {
    font-family: Nunito, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  a,
  strong,
  span {
    color: #f14b90;
  }

  a {
    text-decoration-line: underline;
  }
}

@layer components {
  .paragraph > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: calc(var(--spacing) * 6) 0;
  }
}

.box {
  @apply mx-4;
}

.flickity-prev-next-button {
  @apply w-4 h-4;
}

@media (width >=theme(--breakpoint-sm)) {
  .box {
    @apply mx-8;
  }
}

@media (width >=theme(--breakpoint-md)) {
  .box {
    @apply mx-12;
  }

  .flickity-prev-next-button {
    @apply w-8 h-8;
  }

  .typography-nav {
    @apply border-l-2;
  }
}

@media (width >=theme(--breakpoint-lg)) {
  .box {
    @apply w-180 mx-auto;
  }
}

.paragraph p {
  @apply my-4;
}

.typography-nav {
  @apply font-bold border-b-2 border-purple-light;
}
