<!DOCTYPE html>
<html lang="en" {% if page.isFullPage %}class="h-full"{% endif %}>
    <head>
        <meta charset="utf-8">
        <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{{ page.title }} - {{ site.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.url }}/css/lattespirit.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    </head>
    <body class="flex flex-col h-full" style="font-family: 'Nunito', sans-serif">
        <div class="fixed bg-cover min-w-full min-h-full -z-1" style="background-image: url('/assets/background.jpg')"></div>
        <div id="app" class="flex flex-col min-w-full min-h-full">
            {% include header.html %}

            {{ content }}

            {% include footer.html %}
        </div>

        <script type="text/javascript" src="/js/lattespirit.js"></script>
    </body>
</html>
