<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{{ page.title }} - {{ site.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.url }}/dist/lattespirit.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    </head>
    <body class="flex flex-col h-full" style="font-family: 'Nunito', sans-serif">
        <div class="fixed bg-cover min-w-full min-h-full -z-1" style="background-image: url('{{ site.url  }}/assets/background.jpg')"></div>
        <div id="app" class="flex-1 flex flex-col">
            {% include header.html %}

            <div class="mb-20">
                {{ content }}
            </div>

            {% include footer.html %}

            <search></search>
        </div>

        <script type="text/javascript" src="{{ site.url }}/dist/lattespirit.js"></script>
    </body>
</html>
