<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title == 'Typography' %}{{ Typography }}{% else %}{{ page.title }} - Typography{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.url }}/dist/lattespirit.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    </head>
    <body class="flex flex-col h-full" style="font-family: 'Nunito', sans-serif">
        <div class="px-4 py-6 md:px-8">
            <div>
                <a href="{{ site.url }}" class="text-2xl md:text-3xl font-bold">Lattespirit</a>
            </div>
            <div class="md:flex">
                <ul class="flex justify-between md:block md:w-20 my-4">
                    <li class='md:py-8 md:border-0 md:text-lg {% if page.title == "Typography" %}{{ "typography-nav" }}{% endif %}'>
                        <a href="{{ site.url }}/typography">Logos</a>
                    </li>
                    <li class='md:py-8 md:border-0 md:text-lg {% if page.title == "Colors" %}{{ "typography-nav" }}{% endif %}'>
                        <a href="{{ site.url }}/typography/colors">Colors</a>
                    </li>
                    <li class='md:py-8 md:border-0 md:text-lg {% if page.title == "Typeface" %}{{ "typography-nav" }}{% endif %}'>
                        <a href="{{ site.url }}/typography/typeface">Typeface</a>
                    </li>
                    <li class='md:py-8 md:border-0 md:text-lg {% if page.title == "Hierarchy" %}{{ "typography-nav" }}{% endif %}'>
                        <a href="{{ site.url }}/typography/hierarchy">Hierarchy</a>
                    </li>
                </ul>
                <div class="w-72 x:w-80 md:w-200 mx-auto md:mx-0 md:px-12 lg:px-20">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
